<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studienarbeit.dhbw.e_app" >

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main.Main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.Settings.SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName=".Main.Main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Main.MainActivity" />
        </activity>
        <activity
            android:name=".Main.Dialog.BluetoothDialogDiscovery"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/dialog_deviceList_title"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />

        <service
            android:name=".Main.Main.UpdateUiService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
